#leftmenu > :nth-last-child(11) {
    margin-top: auto;
}

.hidden_element {
    visibility: hidden;
}

.layoutcontainer {
    display: flex; /* or inline-flex */
    padding: 0;
    margin: 0;
    margin-left: 20%;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all .5s ease-in-out;
}

.artifactcontainer {
    display: flex; /* or inline-flex */
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
}

/* items which represent artefacts */
.item {
    width: 200px;
    height: 200px;
    margin: 10px;
    order: 2; /* default is 0 */
    text-decoration: none;
}

.item span {

}

.item:hover {
    background-color: lightgrey;
    color: black;
}