<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
</head>
<body>
<nav>
    <ul id="menu" class="navi">
        <li><a th:href="@{__${applicationBaseUrl}__/}">Home</a></li>
        <li><a th:href="@{/anleitung.pdf}">Hilfe</a></li>
    </ul>
</nav>

<div class="layoutcontainer" id="layoutcontainer">
    <div id="pathContainer">
        <p>Impressum</p>
    </div>
    <div style="color: white; text-shadow: 0px 0px #000; margin-left: 1em">
        <ul>
            <li>
                <span>Stephan Elvers</span>
                <ul>
                    <li>E-Mail: <span>st.elvers@ostfalia.de</span></li>
                    <li>Matrikelnummer: <span>70382189</span></li>
                </ul>
            </li>
            <li>
                <span>Joshua Bark</span>
                <ul>
                    <li>E-Mail: <span>jo.bark@ostfalia.de</span></li>
                    <li>Matrikelnummer: <span>70458005</span></li>
                </ul>
            </li>
            <li>
                <span>Alexander Litwinow</span>
                <ul>
                    <li>E-Mail: <span>a.litwinow@ostfalia.de</span></li>
                    <li>Matrikelnummer: <span>70459983</span></li>
                </ul>
            </li>
            <li>
                <span>Tobias Hellmann</span>
                <ul>
                    <li>E-Mail: <span>t.hellmann@ostfalia.de</span></li>
                    <li>Matrikelnummer: <span>70458989</span></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
</script>
</html>
