<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>Mimir</title>
</head>
<body>
<div id="backgroundContainer">
    <h1>Anmeldung</h1>
    <div id="logoContainer">
        <img th:src="@{/media/ostfalia.svg}">
    </div>
    <div id="loginContainer">
        <div th:if="${param.error}">
            Du hast einen falschen Benutzernamen oder ein falsches Passwort eingegeben.
        </div>
        <div th:if="${param.logout}">
            Du wurdest erfolgreich ausgeloggt.
        </div>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" autofocus="yes" placeholder="Benutzername"
                   required><br>
            <input type="password" name="password" placeholder="Passwort" required><br><br>
            <button type="submit" id="loginSubmit">Anmelden</button>
        </form>
    </div>
</div>
</body>
</html>